<div class="container my-4">
  <!-- Country Name Input -->

  <div class="row">
    <div class="mb-3 col">
      <label for="countryName" class="form-label">Country Name</label>
      <input
        type="text"
        id="countryName"
        class="form-control"
        [(ngModel)]="countryName"
        (input)="onNameChange()"
        name="countryName">
    </div>

    <!-- Continent Dropdown (Multiple Selection) -->
    <div class="mb-3 col">
      <label for="continent" class="form-label">Select Continent(s)</label>
      <select id="continent" class="form-select" multiple size="7" (change)="onContinentChange($event)">
        @for (continent of continents; track continent) {
          <option [value]="continent">{{ continent }}</option>
        }

      </select>
    </div>

    <div class="mb-3 col">
      <label class="form-label">Is this an independent country?</label>
      <div class="form-check">
        <input type="radio" id="independentYes" class="form-check-input" [(ngModel)]="isIndependent"
               (change)="onIndependentChange()" name="isIndependent" [value]="true">
        <label for="independentYes" class="form-check-label">Yes</label>
      </div>
      <div class="form-check">
        <input type="radio" id="independentNo" class="form-check-input" [(ngModel)]="isIndependent"
               (change)="onIndependentChange()" name="isIndependent" [value]="false">
        <label for="independentNo" class="form-check-label">No</label>
      </div>
    </div>
  </div>

  <div class="row">

    @if(isSortedAlphabeticallyButtonVisible) {
      <button type="button" class="btn btn-outline-secondary col-1 me-1" (click)="onSortByNameAscendant()">
        <i class="bi bi-sort-alpha-down"></i>
      </button>
    } @else {
      <button type="button" class="btn btn-outline-secondary col-1 me-1" (click)="onSortByNameDescendant()">
        <i class="bi bi-sort-alpha-down-alt"></i>
      </button>
    }

    @if(isSortedPopulationButtonVisible) {
      <button type="button" class="btn btn-outline-secondary col-1 me-1" (click)="onSortByPopulationAscendant()">
        <i class="bi bi-sort-numeric-down"></i>
      </button>
    } @else {
      <button type="button" class="btn btn-outline-secondary col-1 me-1" (click)="onSortByPopulationDescendant()">
        <i class="bi bi-sort-numeric-down-alt"></i>
      </button>
    }

  </div>

</div>
