<div class="container">

  <app-filter-area
    (countryNameChange)="handleCountryNameChange($event)"
    (isIndependentChange)="handleIndependenceChange($event)"
    (selectedContinentsChange)="handleContinentChange($event)"
    (isSortedAlphabeticallyAscendant)="handleSortByNameAscendant($event)"
    (isSortedPopulationAscendant)="handleSortByPopulationAscendant($event)"
  ></app-filter-area>

  <div class="row">
    <app-country-panel [ngClass]="receivedSelectedCountry ? 'col-md-8' : 'col-md-12'"
      [countries]="filteredCountries"
      (selectedCountryChange)="handleCountrySelection($event)">
    </app-country-panel>

    @if (receivedSelectedCountry) {
      <app-country-details class="col-md-4"
        [country]="receivedSelectedCountry"
        (closeDetails)="handleCloseDetails()"
      >
      </app-country-details>
    }
  </div>

</div>
